.button {
    padding: 13px 14px;
    font-size: 20px;
    align-items: center;
    width: 155px;
    text-align: center;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 1px 3px grey;
    outline: none;
    border: 2px solid grey;
    margin: 5px 0px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(125, 255, 255);
}

.button:hover{
    background-color: rgb(210, 255, 255);
}

@media screen and (max-width: 480px) {
    .button{
        font-size: 14px;
        padding: 9px 12px;
        width: 82px;
        margin: 5px 10px;
    }
}