.inputitem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputitem input {
  padding: 10px;
  transition: 0.4s;
  border: 1px solid #646464;
  border-radius: 5px;
  flex: 1;
  outline: none;
}

.inputitem button {
  padding: 4px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #246bfb;
  color: white;
  margin-left: 12px;
}

.inputitem input:focus {
  border: 1px solid #246bfb;
  background-color: white;
  cursor: text;
}
